In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('gender_submission.csv')

In [3]:
df.head()

   PassengerId Survived
0          892        m
1          893        f
2          894        m
3          895        m
4          896        f

In [4]:
df1=pd.get_dummies(df['Survived'],drop_first=True)

In [5]:
df1.head()

   m
0  1
1  0
2  1
3  1
4  0

In [6]:
df=pd.concat([df1,df],axis=1)

In [7]:
df.drop('Survived',axis=1,inplace=True)

In [8]:
df.head()

   m  PassengerId
0  1          892
1  0          893
2  1          894
3  1          895
4  0          896

In [10]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [12]:
X.head()

   m
0  1
1  0
2  1
3  1
4  0

In [13]:
y.head()

0    892
1    893
2    894
3    895
4    896
Name: PassengerId, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [15]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [16]:
y_pred=regression.predict(X_test)

In [17]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [19]:
score

-0.001978035455496796